@import '~react-md/src/scss/react-md';

// Any variable overrides. The following just changes the default theme to use teal and purple.
$md-primary-color: $md-deep-purple-700;
$md-secondary-color: $md-teal-700;
