.details-page {
  .secondary {
    @include button(rgba(63, 63, 63, 0.7));
    margin-right: 20px;
  }

  .loader-wrapper {
    height: 130px;
    width: 100%;
    margin: 30px auto;
  }

  .details-wrapper {
    max-width: 1092px;
    width: 100%;
    display: flex;
    margin: 0 auto;

    .md-block-centered  {
      width: 100%;
    }

    .route-cta-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 20px 0 30px;

      @include media-breakpoint-down(sm) {
        flex-direction: column;
        align-items: baseline;
        margin: 20px;
      }

      @media (max-width: 768px) {
        margin: 20px;
      }

      .ca-title {
        display: none;

        @include media-breakpoint-down(md) {
          display: block;
          font-size: 22px;
          font-weight: 700;
          color: rgb(63,63,63);
          margin: 25px 0 20px;
          margin-right: 20px;
        }
      }

      .details-page-button {
        @include button();
        width: auto;
        font-size: 18px;
        font-weight: 700;
        padding: 26px;
        line-height: 2px;
        border-radius: 45px;

        @include media-breakpoint-down(md) {
          white-space: normal;
          line-height: unset;
          padding: 12px 26px;
          height: 100%;
        }
      }
    }
  }
}
