.header {
  height: 160px;
  display: flex;
  flex-direction: column;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(rgb(123, 194, 195)), to(rgb(128, 133, 191)));
  background-image: -webkit-linear-gradient(left, rgb(123, 194, 195), rgb(128, 133, 191));
  background-image: -moz-linear-gradient(left, rgb(123, 194, 195), rgb(128, 133, 191));
  background-image: -o-linear-gradient(left, rgb(123, 194, 195), rgb(128, 133, 191));

  span[role=button] {
    cursor: pointer;
  }

  svg {
    width: 18%;
    margin: 50px 0 0 50px;
    position: absolute;
  }

  div, p {
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    padding: 30px;
    margin: auto 0;
    display: flex;
    flex-direction: row;
    justify-content: center;

    a {
      cursor: pointer;

      img {
        height: 60px;
        padding: 0px 80px 10px 0px;
      }
    }
  }
}

@media (max-width: 850px) and (min-width: 601px) {
  .header {
    svg {
      width: 18%;
      margin: 65px 0 0 15px;
    }

    div, p {
      font-size: 24px;
      line-height: 35px;

      a {
        img {
          height: 46px;
          padding: 0px 30px 10px 0px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .header {
    height: 100px;
    flex-direction: row;
    justify-content: space-between;

    svg {
      width: 18%;
      margin: 40px 0 0 15px;
    }

    div, p {
      font-size: 18px;
      line-height: 30px;
      padding: 20px;

      a {
        img {
          height: 46px;
          padding: 0px 30px 10px 0px;
        }
      }
    }
  }
}
