@import 'components';

.ctaWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 92px;
  background-color: #ffffff;
  box-shadow: 0px 5px 13px -2px rgba(155, 155, 155,0.5);

  button.md-btn {
    @include button();
    width: 350px;
    margin: auto;
    font-size: 18px;
    padding: 26px;
    line-height: 2px;
    border-radius: 45px;
  }
}

.md-data-table {
  max-width: 1092px;
  margin: 0 auto;

  thead tr.md-table-row, tbody tr.md-table-row {
    border-bottom: 1px solid rgb(201, 201, 201);
  }

  tbody tr.md-table-row {
    cursor: pointer;
  }

  .md-table-column {
    font-size: 18px;
    font-weight: 700;
    width: 33.3%;
    height: 81px;

    &.md-text {
      color: rgb(63, 63, 63);
    }

    &.md-text--secondary {
      color: rgb(151, 151, 151);
    }
  }
}
