.bouncing-loader, .bouncing-loader-text-wrapper {
  display: none;

  &.visible {
    display: flex;
    justify-content: center;
    height: 0;
    flex-direction: row;
  }
}


@mixin bouncing-loader-mix {
  width: 1rem;
  height: 1rem;
  margin: 3rem 0.2rem;
  background: #22b1ab;
  border-radius: 50%;
  animation: bouncing-loader 0.6s infinite alternate;
}

.bouncing-loader {
  &__item-1 {
    @include bouncing-loader-mix;
  }
  &__item-2 {
    @include bouncing-loader-mix;
    animation-delay: 0.2s;
  }
  &__item-3 {
    @include bouncing-loader-mix;
    animation-delay: 0.4s;
  }
}


@keyframes bouncing-loader {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0.1;
    transform: translateY(-1rem);
  }
}
